<div class="container">
  <div class="page-header">
    <h1>Books</h1>
    <hr />
  </div>
  <div class="dflex" style="display: flex;">
    <div>
      <button class="btn btn-outline-success " id="toggle">Add Book</button>
      <ul id="book-list">
        <% @books.each do |book|  %>
          <%= render partial: 'book', locals: { book: book } %>
        <% end %>

      </ul>
    </div>
    <div id="review-list">
      <h2 id="book"></h2>
      <ul id="reviews">
      </ul>
    </div>
  </div>


</div>